body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../images/fondo.jpg);
}

.formulario{
    width: 400px;
    background: #123d05;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color:whitesmoke;
    box-shadow: 7px 13px 37px #000;
}

.formulario h1{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.formulario h2{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textos{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px;
    font-family: 'calibri';
    font-size: 18px;
}

.boton{
    width: 100%;
    background: #3f69dd;
    color: white;
    border: none;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
}

.respuestas{
    width: 400px;
    background: #123d05;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color:whitesmoke;
    box-shadow: 7px 13px 37px #000;
}